<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="UnobtrusiveJavaScriptEnabled" value="true"/>
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None"/>
    <add key="StripeApiKey" value="sk_test_jUosPzybwPS76lYUtJOlJqVp"/>
    <add key="Host" value="smtp.gmail.com"/>
    <add key="EnableSsl" value="true"/>
    <add key="UserName" value="logicaldevelopmentsolutions@gmail.com"/>
    <add key="Password" value="blueseal15722188"/>
    <add key="Port" value="587"/>
  </appSettings>
  <connectionStrings>
    <add name="ConnectionString" connectionString="Data Source=45.59.69.146\SQLEXPRESS,1433;Initial Catalog=kaleb;Persist Security Info=True;User ID=sa;Password=Blueseal3#"/>
    <add name="kalebConnectionString" connectionString="Data Source=45.59.69.146\SQLEXPRESS,1433;Initial Catalog=kaleb;Persist Security Info=True;User ID=sa;Password=Blueseal3#" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5" />
      </system.Web>
  -->
  <system.web>
    <compilation debug="true" targetFramework="4.5">
      <assemblies>
        <add assembly="Microsoft.VisualBasic, Version=10.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
      </assemblies>
    </compilation>
    <httpRuntime targetFramework="4.5" executionTimeout="6000000" maxRequestLength="10485760"/>
  </system.web>
  <system.webServer>
    <defaultDocument>
      <files>
        <remove value="default.aspx" />
        <add value="home.aspx" />
      </files>
    </defaultDocument>
  </system.webServer>
</configuration>